@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

/* Dark-01 */
.text-black {
    color: rgb(19, 19, 19)
}

/* Dark-02 */
.text-gray {
    color: rgb(66, 66, 66);
}

/* Dark-03 */
.text-light-gray {
    color: rgb(114, 114, 114);
}

.text-orange {
    color: rgb(255, 144, 14);
}

/* Orange */
.bg-orange {
    background-color: rgb(255, 144, 14)
}

/* Background Color */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* Button Related Styles*/

.btn-primary {
    width: 180px;
    height: 64px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 8px;

}

.common-title {
    Font-weight: 700;
    Font-size: 3rem;
}

.common-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
}


/* Header styles */

/* Bran Styles */
.brand {
    font-size: 3rem;
    font-weight: 700;
}

/* Nav Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar,
.banner {
    max-width: 1668px;
    margin: 0 auto;
}

.nav-items {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500px;
}

/* Banner Related Styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}



.banner-image {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.teams {
    align-items: center;
}

.teams-features {
    margin-left: 100px;
    max-width: 530px;
}

.teams-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#Quick {
    Font-weight: 500;
    Font-size: 3rem;
    color: rgb(114, 114, 114);
}

/* Features Related Styles */

.features {
    gap: 100px;
}

#feature-love {
    border-left: 10px solid rgb(255, 144, 14);
    padding: 0 20px;
}

.feature-item {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.btn-secondary {
    width: 22rem;
    height: 14rem;
    border: none;
    border-radius: 8px;
    color: white;
}

#experience-badge {
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year {
    font-weight: 700;
    font-size: 4rem;
}

#experience{
    font-weight: 500;
    font-size: 1.5rem;
}


/* Facts Related Styles */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 600;
}

/* Sponsor related Styles */

.sponsors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sponsor-info {
    width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-container>img {
    filter: grayscale(100%);
}

/* For Small Devices */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams ,
    .features{
        flex-direction: column;
    }

    .teams-image,
    .fact-container,
    .sponsors-container {
        grid-template-columns: 1fr;
    }

    .teams-features {
        margin-left: 5px;
    }

    .fact-container {
        justify-items: center;
        gap: 30px;
    }

    .sponsors-container {
        justify-items: center;
        gap: 50px;
    }

    .features-image img{
        width: 100%;
    }

    #experience-badge{
        margin: 5px 5px;
    }
}

/* For Medium Devices */

@media screen and (min-width: 576px) and (max-width: 990px) {

    .teams {
        flex-direction: column;
    }

    .teams-features {
        margin: 50px auto;
    }

    .sponsors-container,
    .fact-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
}